---
import DocCard from "@/components/DocCard.astro";
import Footer from "@/components/Footer.astro";
import SiteAside from "@/components/SiteAside.astro";
import Layout from "@/layouts/Layout.astro";

import homepage from "./index.typ";

const docUrl = (id: string) =>
    `${import.meta.env.BASE_URL.replace(/\/$/, "")}d/${id}`;
---

<Layout>
    <div class="flex flex-col gap-5 p-5">
        <div class="flex min-h-screen flex-col gap-5 lg:flex-row">
            <div class="flex flex-1 flex-col gap-5">
                <SiteAside class="h-48" />
                <article class="prose prose-sm prose-invert">
                    <Fragment set:html={homepage} />
                </article>
            </div>
            <aside class="flex-1">
                <nav class="grid grid-cols-3 gap-2">
                    <DocCard
                        type="Card"
                        name="History"
                        href={docUrl("history")}
                        class="col-span-3 bg-orange-600/80"
                    />
                    <DocCard
                        type="Card"
                        name="Luminous"
                        href={docUrl("luminous")}
                        class="col-span-3 bg-indigo-400/80"
                    />

                    <DocCard
                        type="Card"
                        name="Emergence"
                        href={docUrl("luminous/emergence")}
                        class="row-span-3 h-auto bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Haven"
                        href={docUrl("luminous/haven")}
                        class="bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Solace"
                        href={docUrl("luminous/solace")}
                        class="bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Arden"
                        href={docUrl("luminous/arden")}
                        class="bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Lowtide"
                        href={docUrl("luminous/lowtide")}
                        class="bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Kera"
                        href={docUrl("luminous/kera")}
                        class="bg-indigo-400/80"
                    />
                    <DocCard
                        type="Card"
                        name="Vale"
                        href={docUrl("luminous/vale")}
                        class="bg-indigo-400/80"
                    />
                </nav>
            </aside>
        </div>

        <Footer />
    </div>
</Layout>
