---
import { EarthIcon } from "@lucide/astro";

import Layout from "@/layouts/Layout.astro";

import homepage from "./index.typ";
---

<Layout>
    <div class="flex flex-col gap-5 p-5 lg:flex-row">
        <div class="flex flex-1 flex-col gap-5">
            <aside class="flex h-48 w-full flex-col rounded-xl bg-indigo-900">
                <div
                    class="heading-inset flex w-fit items-center gap-4 rounded-br-xl bg-background py-2 pr-3"
                >
                    <div class="flex items-center gap-2">
                        <EarthIcon />
                        <h1 class="font-bold">Luminous</h1>
                    </div>
                </div>
            </aside>
            <article class="prose prose-invert">
                <Fragment set:html={homepage} />
            </article>
        </div>
        <aside class="flex-1">
            <nav class="grid grid-cols-3 gap-2">
                <a
                    class="col-span-3 flex h-24 flex-col justify-end rounded-xl bg-orange-600/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">History</p>
                </a>
                <a
                    class="col-span-3 flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Luminous</p>
                </a>

                <a
                    class="row-span-3 flex flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Emergence</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Haven</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Solace</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Arden</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Lowtide</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Kera</p>
                </a>
                <a
                    class="flex h-24 flex-col justify-end rounded-xl bg-indigo-400/80 p-2"
                >
                    <p class="text-sm text-muted">Card</p>
                    <p class="font-bold">Vale</p>
                </a>
            </nav>
        </aside>
    </div>
</Layout>
